
$pure-white : #fff;


$black : #000;
$black-one : #333;
$black-two : #777;
$black-three : #797979;

$light-gray-one : #f6f6f6;
$light-gray-two : #ccc;
$light-gray-three : #ebeced;
$light-gray-four : #444444;

$dark-green : #2c4755;

$light-blue : #10cab7;
